html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	background-color: #298EEA;
	position: relative;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}

.marg-top-bottom{ margin: 1em 0; }
.center{ margin: 0 auto; }
.text-center{ text-align: center; }
.block{ display: block; }
.txt-white{ color: #fff; }

.wrapper{
	width: 400px;
	margin-top: 50px;
}

.header{
	margin-bottom: 30px;
}

.header--logo{
	background: url(../img/logo.png) no-repeat;
	background-size: contain;
	background-position: center;
	height: 35px;
}

.header--title{
	font-size: 2em;
	font-weight: 300;
	color: rgb(86,86,86);
	font-family: 'Roboto', sans-serif;
}

.container{
	background: #fff;
	margin-bottom: 20px;
	padding: 40px;
	border-radius: 3px;
}

.form--submit,
.form--input{
	width: 320px;
	border-radius: 4px;
	padding: 15px;

}
.form--input{
	border: 2px solid #ddd;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
}

.form--label{
	font-family: 'Roboto', sans-serif;
}

.form--submit{
	background: #68C373;
	font-size: 1.4em;
	border-style: none;
	transition: 0.1s ease-in background;
	cursor: pointer;
}

.form--submit:hover{
	background: #0CB863;
}


.form-forgot a{
	color: #999;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

.usr-login, 
.usr-login a{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.footer{
    text-align: center;
    /* position: fixed; */
    /* bottom: 25px; */
    /* left: 50%; */
    margin-top: 40vh; /*Used vh so that its uniform across screen sizes*/

}

.github-repo{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-decoration: none;
	color: #ddd;
	transition: 0.1s ease-in color;
}

.github-repo:hover{
	color: #fff;
}